<div class='text-center'>
  <h1>Past Trips</h1>
</div>

<!-- ACCORDION STRUCTURE FOR TRIP INFO BLOCKS -->
<div class="accordion">
{{#each pastVisits as |pasttrip|}}
  <div class="park-block"> 
      <h4>{{pasttrip.park_name}}</h4>
      <div class="location-info">
          <button type="button" class="past-trip-delete" data-id="{{pasttrip.id}}">delete</button>
          <p>{{pasttrip.travel_month}} / {{pasttrip.travel_year}}</p>
          <p>{{pasttrip.activity_list}}</p>
          <p>{{pasttrip.review}}</p>
          <p>{{pasttrip.lodging}}</p>
          <p>{{pasttrip.companion_info}}</p>
      </div>
  </div>
{{/each}}
</div>