<body class='p-10 bg-gray-200 text-gray-700'>
  <div class='text-center'>
    <h1 class='text-2xl font-extrabold'>Past Trips</h1>
  </div>

  <!-- ACCORDION STRUCTURE FOR TRIP INFO BLOCKS -->
  {{!-- <div class="accordion">
{{#each pastVisits as |pasttrip|}}
  <div class="park-block"> 
      <h4>{{pasttrip.park_name}}</h4>
      <div class="location-info">
          <div class="relative h-32 w-32 ...">
            <div class="absolute top-0 right-0 h-16 w-16 ...">
              <button type="button" class="past-trip-delete text-bold" data-id="{{pasttrip.id}}"><i class="fa fa-trash-o" style="font-size:36px"></i></button>
            </div>
          </div>
          <p>Travel Dates: {{pasttrip.travel_month}} / {{pasttrip.travel_year}}</p>
          <p>Trip Review: {{pasttrip.review}}</p>
          <p>Lodging: {{pasttrip.lodging}}</p>
          <p>Companion(s): {{pasttrip.companion_info}}</p>
          <p>Activities: {{pasttrip.activity_list}}</p>
      </div>
  </div>
{{/each}}
</div> --}}

  <!-- Accordion -->
  <div class='relative w-full overflow-hidden'>
    {{#each pastVisits as |pasttrip|}}

      <div class="relative">
        <input
          type='checkbox'
          class='peer absolute top-0 inset-x-0 w-full h-12 opacity-0 z-10 cursor-pointer'
        />
        <div class='bg-lime-900 h-12 w-full pl-5 flex items-center'>
          <h1 class='text-lg font-semibold text-white'>
            {{pasttrip.park_name}}
          </h1>
        </div>

        <!-- Arrow Icon -->
        <div
          class='absolute top-3 right-3 text-white transition-transform duration-500 rotate-0 peer-checked:rotate-180'
        >
          <svg
            xmlns='http://www.w3.org/2000/svg'
            fill='none'
            viewBox='0 0 24 24'
            stroke-width='1.5'
            stroke='currentColor'
            class='w-6 h-6'
          >
            <path
              stroke-linecap='round'
              stroke-linejoin='round'
              d='M19.5 8.25l-7.5 7.5-7.5-7.5'
            ></path>
          </svg>
        </div>

        <!-- Content -->
        <div
          class='bg-orange-100 overflow-hidden transition-all duration-500 max-h-0 peer-checked:max-h-40'
        >
          <div class='p-4'>
            <div class='relative'>
              <div class='absolute to-0 right-3'>
                <button
                  type='button'
                  class='past-trip-delete text-bold fa fa-trash-o'
                  style="font-size:36px"
                  data-id="{{pasttrip.id}}"
                ></button>
              </div>
            </div>
            <p>Travel Dates:
              {{pasttrip.travel_month}}
              /
              {{pasttrip.travel_year}}</p>
            <p>Trip Review: {{pasttrip.review}}</p>
            <p>Lodging: {{pasttrip.lodging}}</p>
            <p>Companion(s): {{pasttrip.companion_info}}</p>
            <p>Activities: {{pasttrip.activity_list}}</p>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</body>