<div class='text-center'>
  <h1 class="text-xl font-bold">Planned Trips</h1>
</div>


<!-- ACCORDION STRUCTURE FOR TRIP INFO BLOCKS -->
<div class="accordion">
{{#each futureVisits as |plannedtrip|}}
  <div class="park-block"> 
      <h4>{{plannedtrip.park_name}}</h4>
      <div class="location-info">
          <div class="location-info">
          <div class="relative h-32 w-32 ...">
            <div class="absolute top-0 right-0 h-16 w-16 ...">
              <button type="button" class="past-trip-delete text-bold" data-id="{{pasttrip.id}}"><i class="fa fa-trash-o" style="font-size:36px"></i></button>
            </div>
          </div>
          <p>Lodging: {{plannedtrip.lodging}}</p>
          <p>Companion(s): {{plannedtrip.companion_info}}</p>
          <p>Activities: {{plannedtrip.activity_list}}</p>
      </div>
  </div>
{{/each}}
</div>